h1 {
    font-family: sans;
    color: rgb(96, 96, 208);
}

h2 {
    font-family: sans;
    color: rgb(96, 96, 208);
}

h3 {
    font-family: sans;
    color: rgb(171, 117, 42);
}

table {
    font-family: sans;
    color: rgb(111, 70, 151);
}

